.reg-label {
  padding-right: 15px;
  height: 100%;
  -webkit-user-select: none;
          user-select: none;
}

.reg-block {
  display: inline-block;
  width: 25%;
  margin: 10px 0;
}

.reg-block[data-reg="FLAG"] {
  width: 75%;
}

.register-space {
  padding: 20px;
  font-size: 10px;
  position: absolute;
}

.register-frame {
  padding: 20px;
  /*border: 4px solid #333;*/
  border-radius: 10px;
}

.memory-space {
  padding: 20px;
  font-size: 10px;
  position: absolute;
}

.memory-label {
  left: 0;
  width: 50px;
  top: 0;
  bottom: 0;
  position: absolute;
  user-select: none;
}

.memory-table {
  width: calc(100% - 50px);
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
}

.memory-space > * {
  height: 100%;
  display: inline-table;
}

.flag:not(:last-child):after {
  content: " - ";
}

.flag.true > span {
  text-decoration: underline;
}
